<div class="container">
    <div class="formContainer">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <h1>Regisztráció</h1>
            <label for="username">Felhasználónév</label>
            <input type="text" id="username" name="username" formControlName="username">
            <label for="password">Jelszó</label>
            <input type="password" id="password" name="password" formControlName="password">
            @if(registerError) {
                <p class="error">{{ errorText }}</p>
            }
            <input type="submit" value="Regisztráció">
        </form>
        <p>Már van fiókod? <a routerLink="/login">Jelentkezz be!</a></p>

    </div>
</div>