$background: #180161;
$accent: #4F1787;
$btn-base: #EB3678;
$btn-edit:#FB773C;
$btn-success: #3feb36;
$btn-nvm: #8a8a8a;

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer {
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 25px;
        }

        input[type='submit'] {
            width: 100%;
            background-color: $btn-base;
            border: none;
            outline: none;
            padding: 7px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;

            transition: .3s background-color, .3s padding;
        }

        input[type='submit']:hover {
            background-color: rgba(0,0,0,0);
            color: $btn-base;
            border: 2px solid $btn-base;
            padding: 9px;
        }

        border: 1px solid $accent;
        padding: 25px;
        border-radius: 15px;
    }
}