<div class="stats-container">
    <h2>{{ this.currentYear }} Statisztikák</h2>
    <form [formGroup]="yearSelector">
        <select name="yearSelector" id="yearSelector" formControlName="year">
            <option value="choose" disabled [selected]="this">Válassz egy évet...</option>
            @if(this.years) {
                @if(this.years.length !== 0) {
                    @for (year of years; track $index) {
                        <option [value]="year.year">{{ year.year }}</option>
                    }
                }
            }
        </select>
    </form>
    @if(errMessage !== "") {
        <p id="warning">{{errMessage}}</p>
    }
    <canvas id="pieChart" [class.hidden]='errMessage !== ""'></canvas>
</div>