// $background: #180161;
$background: #1f1f1f;
// $accent: #4F1787;
$accent: #393939;
$btn-base: #e85050;
$btn-edit:#e8926a;
$btn-success: #7ac657;
$btn-nvm: #8a8a8a;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Poppins;
    color: #fff;
}

body {
    background-color: $background;
}

#deleteBtn {
    border: none;
    background-color: $btn-base;
    color: white;
    margin-right: 10px
}

#deleteBtn:hover {
    opacity: .8;
    padding: 8px;
}

#nvmBtn {
    border: none;
    background-color: $btn-nvm;
    color: white;
    margin-right: 10px;
}

#nvmBtn:hover {
    padding: 8px;
    opacity: .8;
}

#addBtn {
    // border: 2px solid $btn-success;
    border: none;
    background-color: $btn-success;
    margin-right: 10px;
    color: white;
}

#addBtn:hover {
    opacity: .8;
    padding: 8px;
}


#editBtn {
    background-color: $btn-edit;
    border: none;
    color: white;
    margin-right: 10px;
}

#editBtn:hover {
    opacity: .8;
    padding: 8px;
}

input[type='text'], input[type='number'], input[type='password'] {
    background-color: $background;
    border: 1px solid $accent;
    border-radius: 5px;
    color: white;
    outline: none;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
}

input[type='text'].invalid, input[type='number'].invalid, input[type='password'].invalid {
    border: 1px solid $btn-base;
}

input[type='text']:focus, input[type='number']:focus, input[type='password']:focus {
    border: 1px solid $btn-edit;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: $background;
    border: 1px solid $accent;
    outline: none;
    color: white;
}

button {
    color: white;
    padding: 7px;
    outline: none;
    border: none;
    // border: 2px solid $btn-base;
    background-color: rgba(0,0,0,0);
    color: $btn-base;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;

    transition: .3s background-color, .3s padding, .3s color, .3s opacity;
}

button:hover {
    padding: 8px;
    background-color: $btn-base;
}

.error {
    color: $btn-base;
    text-align: center;
}

.required {
    color: $btn-base;
}